In [40]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')

In [2]:
df = pd.read_csv('/kaggle/input/mobiles-dataset-2025/Mobiles Dataset (2025).csv', encoding='latin1')
df.head()

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (Pakistan),Launched Price (India),Launched Price (China),Launched Price (USA),Launched Price (Dubai),Launched Year
0,Apple,iPhone 16 128GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 224,999","INR 79,999","CNY 5,799",USD 799,"AED 2,799",2024
1,Apple,iPhone 16 256GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 234,999","INR 84,999","CNY 6,099",USD 849,"AED 2,999",2024
2,Apple,iPhone 16 512GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 244,999","INR 89,999","CNY 6,499",USD 899,"AED 3,199",2024
3,Apple,iPhone 16 Plus 128GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 249,999","INR 89,999","CNY 6,199",USD 899,"AED 3,199",2024
4,Apple,iPhone 16 Plus 256GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 259,999","INR 94,999","CNY 6,499",USD 949,"AED 3,399",2024

In [3]:
import copy

df = df.copy(deep = True)
# df = copy.deepcopy(df)
df

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (Pakistan),Launched Price (India),Launched Price (China),Launched Price (USA),Launched Price (Dubai),Launched Year
0,Apple,iPhone 16 128GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 224,999","INR 79,999","CNY 5,799",USD 799,"AED 2,799",2024
1,Apple,iPhone 16 256GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 234,999","INR 84,999","CNY 6,099",USD 849,"AED 2,999",2024
2,Apple,iPhone 16 512GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 244,999","INR 89,999","CNY 6,499",USD 899,"AED 3,199",2024
3,Apple,iPhone 16 Plus 128GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 249,999","INR 89,999","CNY 6,199",USD 899,"AED 3,199",2024
4,Apple,iPhone 16 Plus 256GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 259,999","INR 94,999","CNY 6,499",USD 949,"AED 3,399",2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,Poco,Pad 5G 128GB,571g,8GB,8MP,8MP,Snapdragon 7s Gen 2,"10,000mAh",12.1 inches,"PKR 66,220","INR 23,999","CNY 2,099",USD 280,"AED 1,029",2024
926,Poco,Pad 5G 256GB,571g,8GB,8MP,8MP,Snapdragon 7s Gen 2,"10,000mAh",12.1 inches,"PKR 71,220","INR 25,999","CNY 2,299",USD 300,"AED 1,099",2024
927,Samsung,Galaxy Z Fold6 256GB,239g,12GB,"10MP, 4MP (UDC)",50MP,Snapdragon 8 Gen 3,4400mAh,7.6 inches,"PKR 604,999","INR 164,999","¥13,999","USD 1,899","AED 7,199",2024
928,Samsung,Galaxy Z Fold6 512GB,239g,12GB,"10MP, 4MP (UDC)",50MP,Snapdragon 8 Gen 3,4400mAh,7.6 inches,"PKR 544,999","INR 176,999","CNY 15,999",USD 1719,"AED 7,699",2024
929,Samsung,Galaxy Z Fold6 1TB,239g,12GB,"10MP, 4MP (UDC)",50MP,Snapdragon 8 Gen 3,4400mAh,7.6 inches,Not available,"INR 200,999","CNY 17,999","USD 2,259","AED 8,699",2024

In [4]:
df.shape

(930, 15)

In [5]:
df.columns

Index(['Company Name', 'Model Name', 'Mobile Weight', 'RAM', 'Front Camera',
       'Back Camera', 'Processor', 'Battery Capacity', 'Screen Size',
       'Launched Price (Pakistan)', 'Launched Price (India)',
       'Launched Price (China)', 'Launched Price (USA)',
       'Launched Price (Dubai)', 'Launched Year'],
      dtype='object')

In [6]:
df.dtypes

Company Name                 object
Model Name                   object
Mobile Weight                object
RAM                          object
Front Camera                 object
Back Camera                  object
Processor                    object
Battery Capacity             object
Screen Size                  object
Launched Price (Pakistan)    object
Launched Price (India)       object
Launched Price (China)       object
Launched Price (USA)         object
Launched Price (Dubai)       object
Launched Year                 int64
dtype: object

In [7]:
df.describe()

       Launched Year
count     930.000000
mean     2022.193548
std         1.862080
min      2014.000000
25%      2021.000000
50%      2023.000000
75%      2024.000000
max      2025.000000

In [8]:
df.head(5)

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (Pakistan),Launched Price (India),Launched Price (China),Launched Price (USA),Launched Price (Dubai),Launched Year
0,Apple,iPhone 16 128GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 224,999","INR 79,999","CNY 5,799",USD 799,"AED 2,799",2024
1,Apple,iPhone 16 256GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 234,999","INR 84,999","CNY 6,099",USD 849,"AED 2,999",2024
2,Apple,iPhone 16 512GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 244,999","INR 89,999","CNY 6,499",USD 899,"AED 3,199",2024
3,Apple,iPhone 16 Plus 128GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 249,999","INR 89,999","CNY 6,199",USD 899,"AED 3,199",2024
4,Apple,iPhone 16 Plus 256GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 259,999","INR 94,999","CNY 6,499",USD 949,"AED 3,399",2024

In [9]:
df.isnull().sum()

Company Name                 0
Model Name                   0
Mobile Weight                0
RAM                          0
Front Camera                 0
Back Camera                  0
Processor                    0
Battery Capacity             0
Screen Size                  0
Launched Price (Pakistan)    0
Launched Price (India)       0
Launched Price (China)       0
Launched Price (USA)         0
Launched Price (Dubai)       0
Launched Year                0
dtype: int64

In [10]:
# selecting appropriate columns

df = df[['Company Name', 'Model Name', 'Mobile Weight', 'RAM', 'Front Camera',
       'Back Camera', 'Processor', 'Battery Capacity', 'Screen Size',
       # 'Launched Price (Pakistan)',
        'Launched Price (India)',
       # 'Launched Price (China)', 
        'Launched Price (USA)',
       'Launched Price (Dubai)', 'Launched Year']]

In [11]:
df.head()

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (India),Launched Price (USA),Launched Price (Dubai),Launched Year
0,Apple,iPhone 16 128GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"INR 79,999",USD 799,"AED 2,799",2024
1,Apple,iPhone 16 256GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"INR 84,999",USD 849,"AED 2,999",2024
2,Apple,iPhone 16 512GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"INR 89,999",USD 899,"AED 3,199",2024
3,Apple,iPhone 16 Plus 128GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"INR 89,999",USD 899,"AED 3,199",2024
4,Apple,iPhone 16 Plus 256GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"INR 94,999",USD 949,"AED 3,399",2024

In [12]:
df['Company Name'].unique()

array(['Apple', 'Samsung', 'OnePlus', 'Vivo', 'iQOO', 'Oppo', 'Realme',
       'Xiaomi', 'Lenovo', 'Motorola', 'Huawei', 'Nokia', 'Sony',
       'Google', 'Tecno', 'Infinix', 'Honor', 'POCO', 'Poco'],
      dtype=object)

In [13]:
# convert the year column to numeric

pd.to_numeric(df['Launched Year'])

0      2024
1      2024
2      2024
3      2024
4      2024
       ...
925    2024
926    2024
927    2024
928    2024
929    2024
Name: Launched Year, Length: 930, dtype: int64

In [14]:
df.dtypes

Company Name              object
Model Name                object
Mobile Weight             object
RAM                       object
Front Camera              object
Back Camera               object
Processor                 object
Battery Capacity          object
Screen Size               object
Launched Price (India)    object
Launched Price (USA)      object
Launched Price (Dubai)    object
Launched Year              int64
dtype: object

In [15]:
df.rename(columns = {
    'Launched Price (India)' : 'Launched Price (India (INR))',
    'Launched Price (USA)' : 'Launched Price (USA (USD))',
    'Launched Price (Dubai)' : 'Launched Price (Dubai (AED))'
}, inplace = True)

<ipython-input-15-dc4b12cceba4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns = {

In [16]:
df.columns

Index(['Company Name', 'Model Name', 'Mobile Weight', 'RAM', 'Front Camera',
       'Back Camera', 'Processor', 'Battery Capacity', 'Screen Size',
       'Launched Price (India (INR))', 'Launched Price (USA (USD))',
       'Launched Price (Dubai (AED))', 'Launched Year'],
      dtype='object')

In [17]:
df['Launched Price (India (INR))'] = df['Launched Price (India (INR))']\
                                    .replace(r'[^\d]','',regex=True)\
                                    .astype(int)

<ipython-input-17-e32400a13036>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Launched Price (India (INR))'] = df['Launched Price (India (INR))']\

In [18]:
df.head()

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (India (INR)),Launched Price (USA (USD)),Launched Price (Dubai (AED)),Launched Year
0,Apple,iPhone 16 128GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,79999,USD 799,"AED 2,799",2024
1,Apple,iPhone 16 256GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,84999,USD 849,"AED 2,999",2024
2,Apple,iPhone 16 512GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,89999,USD 899,"AED 3,199",2024
3,Apple,iPhone 16 Plus 128GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,89999,USD 899,"AED 3,199",2024
4,Apple,iPhone 16 Plus 256GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,94999,USD 949,"AED 3,399",2024

In [19]:
df['Launched Price (USA (USD))'] = df['Launched Price (USA (USD))']\
                                    .replace(r'[^\d]','',regex=True)\
                                    .astype(int)

<ipython-input-19-f8b7f4985711>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Launched Price (USA (USD))'] = df['Launched Price (USA (USD))']\

In [20]:
df['Launched Price (Dubai (AED))'] = df['Launched Price (Dubai (AED))']\
                                    .replace(r'[^\d]','',regex=True)\
                                    .astype(int)

<ipython-input-20-61c601f5504c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Launched Price (Dubai (AED))'] = df['Launched Price (Dubai (AED))']\

In [21]:
df.head()

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (India (INR)),Launched Price (USA (USD)),Launched Price (Dubai (AED)),Launched Year
0,Apple,iPhone 16 128GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,79999,799,2799,2024
1,Apple,iPhone 16 256GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,84999,849,2999,2024
2,Apple,iPhone 16 512GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,89999,899,3199,2024
3,Apple,iPhone 16 Plus 128GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,89999,899,3199,2024
4,Apple,iPhone 16 Plus 256GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,94999,949,3399,2024

In [22]:
gp = df.groupby('Launched Year')['Company Name'].count()
gp

Launched Year
2014      2
2016      5
2017      9
2018     21
2019     46
2020    101
2021    109
2022    149
2023    184
2024    292
2025     12
Name: Company Name, dtype: int64

In [26]:
gp = df.groupby(['Launched Year','Model Name'])[['Company Name']].count()
gp

                                      Company Name
Launched Year Model Name
2014          X3S 16GB                           1
              X5Max 16GB                         1
2016          Galaxy C5 32GB                     1
              Galaxy C9 Pro 64GB                 1
              Galaxy Tab E 10.1 16GB             1
...                                            ...
2025          Reno13 F 256GB                     1
              Reno13 F 4G 256GB                  1
              Reno13 Pro 512GB                   1
              X7 128GB                           1
              X7 Pro 256GB                       1

[913 rows x 1 columns]

In [44]:
gp = df.groupby(['Launched Year','Company Name'])[['Model Name']].count()
gp

                            Model Name
Launched Year Company Name
2014          Vivo                   2
2016          Samsung                4
              Vivo                   1
2017          Apple                  2
              OnePlus                2
              Samsung                2
              Vivo                   3
2018          Apple                  9
              Lenovo                 1
              OnePlus                2
              Samsung                3
              Vivo                   6
2019          Apple                 11
              Google                 4
              Lenovo                 6
              OnePlus                2
              Oppo                   3
              Samsung                4
              Vivo                  16
2020          Apple                 27
              Google                 3
              Honor                 12
              Infinix                9
              OnePlus               13
              Oppo                  18
              POCO                   4
              Samsung                7
              Vivo                   8
2021          Apple                 12
              Google                 3
              Honor                 20
              Huawei                 7
              Infinix                7
              Lenovo                 3
              Nokia                  2
              OnePlus                8
              Oppo                  23
              POCO                   6
              Realme                 2
              Samsung                2
              Vivo                  14
2022          Apple                 12
              Google                 3
              Honor                 17
              Huawei                 7
              Infinix                9
              Lenovo                 5
              Motorola              18
              Nokia                  4
              OnePlus                7
              Oppo                  21
              POCO                   6
              Realme                 6
              Samsung               20
              Sony                   3
              Vivo                  11
2023          Apple                 12
              Google                 3
              Honor                 24
              Huawei                10
              Infinix               11
              Motorola               8
              Nokia                  5
              OnePlus               14
              Oppo                  24
              POCO                   6
              Realme                11
              Samsung               36
              Sony                   3
              Vivo                  12
              Xiaomi                 4
              iQOO                   1
2024          Apple                 12
              Google                 5
              Honor                 18
              Huawei                18
              Infinix               20
              Motorola              36
              OnePlus                5
              Oppo                  36
              POCO                   8
              Realme                44
              Samsung               10
              Sony                   3
              Tecno                 39
              Vivo                  13
              Xiaomi                23
              iQOO                   2
2025          Oppo                   4
              POCO                   2
              Realme                 6

In [33]:
gp.transpose()

Launched Year 2014    2016       2017                       2018         \
Company Name  Vivo Samsung Vivo Apple OnePlus Samsung Vivo Apple Lenovo
Model Name       2       4    1     2       2       2    3     9      1

Launched Year          ...   2024                                     2025  \
Company Name  OnePlus  ... Realme Samsung Sony Tecno Vivo Xiaomi iQOO Oppo
Model Name          2  ...     44      10    3    39   13     23    2    4

Launched Year
Company Name  POCO Realme
Model Name       2      6

[1 rows x 92 columns]

In [36]:
pd.set_option('display.max_rows', None)

In [37]:
gp

                            Model Name
Launched Year Company Name
2014          Vivo                   2
2016          Samsung                4
              Vivo                   1
2017          Apple                  2
              OnePlus                2
              Samsung                2
              Vivo                   3
2018          Apple                  9
              Lenovo                 1
              OnePlus                2
              Samsung                3
              Vivo                   6
2019          Apple                 11
              Google                 4
              Lenovo                 6
              OnePlus                2
              Oppo                   3
              Samsung                4
              Vivo                  16
2020          Apple                 27
              Google                 3
              Honor                 12
              Infinix                9
              OnePlus               13
              Oppo                  18
              POCO                   4
              Samsung                7
              Vivo                   8
2021          Apple                 12
              Google                 3
              Honor                 20
              Huawei                 7
              Infinix                7
              Lenovo                 3
              Nokia                  2
              OnePlus                8
              Oppo                  23
              POCO                   6
              Realme                 2
              Samsung                2
              Vivo                  14
2022          Apple                 12
              Google                 3
              Honor                 17
              Huawei                 7
              Infinix                9
              Lenovo                 5
              Motorola              18
              Nokia                  4
              OnePlus                7
              Oppo                  21
              POCO                   6
              Realme                 6
              Samsung               20
              Sony                   3
              Vivo                  11
2023          Apple                 12
              Google                 3
              Honor                 24
              Huawei                10
              Infinix               11
              Motorola               8
              Nokia                  5
              OnePlus               14
              Oppo                  24
              POCO                   6
              Realme                11
              Samsung               36
              Sony                   3
              Vivo                  12
              Xiaomi                 4
              iQOO                   1
2024          Apple                 12
              Google                 5
              Honor                 18
              Huawei                18
              Infinix               20
              Motorola              36
              OnePlus                5
              Oppo                  36
              POCO                   6
              Poco                   2
              Realme                44
              Samsung               10
              Sony                   3
              Tecno                 39
              Vivo                  13
              Xiaomi                23
              iQOO                   2
2025          Oppo                   4
              POCO                   2
              Realme                 6

In [39]:
pd.set_option('display.max_columns', None)
gp_tr = gp.transpose()
gp_tr

Launched Year 2014    2016       2017                       2018         \
Company Name  Vivo Samsung Vivo Apple OnePlus Samsung Vivo Apple Lenovo
Model Name       2       4    1     2       2       2    3     9      1

Launched Year                       2019                                     \
Company Name  OnePlus Samsung Vivo Apple Google Lenovo OnePlus Oppo Samsung
Model Name          2       3    6    11      4      6       2    3       4

Launched Year       2020                                                      \
Company Name  Vivo Apple Google Honor Infinix OnePlus Oppo POCO Samsung Vivo
Model Name      16    27      3    12       9      13   18    4       7    8

Launched Year  2021                                                        \
Company Name  Apple Google Honor Huawei Infinix Lenovo Nokia OnePlus Oppo
Model Name       12      3    20      7       7      3     2       8   23

Launched Year                           2022                              \
Company Name  POCO Realme Samsung Vivo Apple Google Honor Huawei Infinix
Model Name       6      2       2   14    12      3    17      7       9

Launched Year                                                              \
Company Name  Lenovo Motorola Nokia OnePlus Oppo POCO Realme Samsung Sony
Model Name         5       18     4       7   21    6      6      20    3

Launched Year       2023                                                     \
Company Name  Vivo Apple Google Honor Huawei Infinix Motorola Nokia OnePlus
Model Name      11    12      3    24     10      11        8     5      14

Launched Year                                                 2024         \
Company Name  Oppo POCO Realme Samsung Sony Vivo Xiaomi iQOO Apple Google
Model Name      24    6     11      36    3   12      4    1    12      5

Launched Year                                                              \
Company Name  Honor Huawei Infinix Motorola OnePlus Oppo POCO Poco Realme
Model Name       18     18      20       36       5   36    6    2     44

Launched Year                                     2025
Company Name  Samsung Sony Tecno Vivo Xiaomi iQOO Oppo POCO Realme
Model Name         10    3    39   13     23    2    4    2      6

We can see there are some duplicate company names in the list.

In [43]:
df.replace({'Poco':'POCO'},inplace = True)
df.head()

<ipython-input-43-1689ad101c5a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'Poco':'POCO'},inplace = True)

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (India (INR)),Launched Price (USA (USD)),Launched Price (Dubai (AED)),Launched Year
0,Apple,iPhone 16 128GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,79999,799,2799,2024
1,Apple,iPhone 16 256GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,84999,849,2999,2024
2,Apple,iPhone 16 512GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,89999,899,3199,2024
3,Apple,iPhone 16 Plus 128GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,89999,899,3199,2024
4,Apple,iPhone 16 Plus 256GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,94999,949,3399,2024